html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.header {
    display: flex;
    flex-direction: row;
     align-items: flex-start;
     justify-content: space-around;
     border-bottom: solid;
     border-color: $accentColor;
    }

.languagepicker {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: grey;
    }

.button__link {
    background-color: none;
    color: $accentColor;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    }

h1, .headline_page {
    color: $accentColor;
    text-decoration: none;
    font-size: 4rem;
    line-height: 5rem;
}

.teaser { 
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: $accentColor;     
}

.teaser__text {
    margin-left: 1rem;

    }

.article {
    
    width: 80%;
    margin: auto;
    }

.article__headline {
        
        font-size: 2.5rem;
        padding-bottom: 0;
        margin-bottom: 0;
        
        }

.article__abstract {
        
        font-size: 1.2rem;
        width: 90%;
        
        }

.article__headerImage {
        margin: auto;
        width: 100%;

        
        }

.article__text {
        margin: auto;
        font-size: 1.1rem;
        line-height: 1.8rem;
        text-align: justify;

    
    }

.link {
    color: $accentColor;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 3rem;
    }